@using FinanceShared
@model List <CalculateMembersDTO>
@{
    ViewData["Title"] = "Total Member";
}

<div class="container">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-4 offset-3">Patner Id</th>
                <th class="col-2 offset-3">Total Amount</th>
                <th class="col-2 offset-3">Fee Percent</th>
                <th class="col-2 offset-3">Own</th>
                <th class="col-2 offset-3">Members</th>
                <th class="col-2 offset-3">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CalculateMembersDTO calculateMember in Model)
            {
                <tr>
                    <td>@calculateMember.Partner_Id</td>
                    <td>@calculateMember.TotalAmount</td>
                    <td>@calculateMember.Fee_Percent</td>
                    <td>@calculateMember.Own</td>
                    <td>@calculateMember.Result</td>
                    <td>@calculateMember.Total()</td>
                </tr>
            }
        </tbody>

    </table>
</div>

