@using FinanceShared
@model List<CalculateMembersDTO>
@{
    ViewData["Title"] = "Total Member";
}

<div class="container">
    <table id="totalMemberTbl" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="col-md-2">Patner Id</th>
                <th class="col-md-2">Total Amount</th>
                <th class="col-md-2">Fee Percent</th>
                <th class="col-md-2">Own</th>
                <th class="col-md-2">Members</th>
                <th class="col-md-2">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CalculateMembersDTO calculateMember in Model)
            {
                <tr>
                    <td class="col-md-2">@calculateMember.Partner_Id</td>
                    <td class="col-md-2">@calculateMember.TotalAmount</td>
                    <td class="col-md-2">@calculateMember.Fee_Percent</td>
                    <td class="col-md-2">@calculateMember.Own</td>
                    <td class="col-md-2">@calculateMember.Result</td>
                    <td class="col-md-1">@calculateMember.Total()</td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $(document).ready(function () {

        try {
            $('#totalMemberTbl').DataTable({ "responsive": true, "paging": false, dom: 'Bfrtip', buttons: ['excel', 'print'] });
        } catch (e) {
            alert(e.toString());
        }

    });
</script>

