@using FinanceShared
@model FinancialItemsDTO
@{
    ViewData["Title"] = "Update";
}


@using (@Html.BeginForm("Edit", "FinanceItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.FinancialId)

    <div class="form-group">
        @Html.LabelFor(m => m.PARTNER_ID, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.PARTNER_ID, new SelectList(ViewBag.PartnerList, "Value", "Text"), new { @class = "form-control mb-3 input-responsive" })
        @Html.ValidationMessageFor(model => model.PARTNER_ID, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.Amount, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control mb-3 input-responsive" })
        @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.Date, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Date, new { @type = "date", @Value= Model.Date.ToString("yyyy-MM-dd"), @max = DateTime.Today.ToString("yyyy-MM-dd"), @class = "form-control mb-3 input-responsive" })
        @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
    </div>
    <div class="form-group bg-secondary p-2 rounded">
        <button type="submit" value="Save" class="btn btn-primary p-2">
            <i class="bi bi-pencil-square"></i> Update
        </button>

        <a href="@Url.Action("FinancialItem", "FinanceItems")" class="btn btn-secondary p-2"><i class="bi bi-arrow-return-left"></i> Return</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}